---
import styles from './About.module.css';
import aboutImage from '../../assets/3.jpg';
---

<section class={styles.about} id="about">
  <div class={styles.container}>
    <div class={styles.left}>
      <img
        src={aboutImage.src}
        alt="Expertise CareHub"
        class={styles.aboutImg}
      />
    </div>

    <div class={styles.right}>
      <span class={styles.subtitle}>Qui sommes-nous ?</span>
      <h2 class={styles.title}>
        L'expertise humaine au service de <span class={styles.gold}
          >votre sérénité.</span
        >
      </h2>

      <p class={styles.description}>
        Face au renoncement aux soins qui touche <strong
          >31% des Français</strong
        >, CareHub réinvente l'accès à la santé.
        <br /><br />
        HUBACARE crée un écosystème de santé connecté en mettant en relation <strong
        >
          patients, médecins
        </strong> et <strong>pharmacies</strong>. Notre objectif est d’optimiser
        le temps de prise en charge, de désengorger les cabinets médicaux et de
        faciliter l’accès aux traitements.
      </p>

      <div class={styles.actions}>
        <a href="#more" class={styles['btn-secondary']}
          >En savoir plus sur nous</a
        >
      </div>
    </div>
  </div>
</section>
